*{
	margin: 0;
}

body{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/bg.jpg);
	width: 100vw;
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.btn1, .btn2, .btn3{
	background-color: #B76E79;
	border: 0px none;
	border-radius: 5px;
	width: 15%;
	padding: 10px;
	font-family: Arial, sans serif;
	font-size: 15px;
	font-weight: lighter;
	color: whitesmoke;
	text-transform: uppercase;
	margin-top: 30px;
}

.btn2, .btn3{
	margin-left: 5px;
}

.btn_active{
	background-color: whitesmoke;
	border: 0px none;
	border-radius: 5px;
	width: 15%;
	padding: 10px;
	font-family: Arial, sans serif;
	font-size: 15px;
	font-weight: lighter;
	color: #B76E79;
	text-transform: uppercase;
	margin-top: 30px;
	margin-left: 5px;
}

button:hover{
	background-color: whitesmoke;
	color: #B76E79;
	transition: 0.5s;
}

.content2{
	background-color: whitesmoke;
	width: 50%;
	border: 0px none;
	border-radius: 5px;
	margin-top: 9%;
	margin-left: 40px;
	padding: 10px;
}

h1{
	color: #B76E79;
	text-align: center;
	font-family: Arial, sans serif;
	padding-top: 30px;

}

p{
	color: #444444;
	text-align: justify;
	text-indent: 25px;
	font-family: Arial, sans serif;
	padding: 20px 30px;
}

.pic img{
	margin-top: 80px;
	width: 60%;
	height: auto;
	border: 0px none;
	border-radius: 5px;

}

.content2, .pic{ 
	display: inline-block;
	vertical-align: middle;
}