*{
	margin: 0;
}

body{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('images/bg.jpg');
	width: 100vw;
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.content{
	background-color: whitesmoke;
	width: 60%;
	border: 0px none;
	border-radius: 5px;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

img{
	border: 0px none;
	border-radius: 50%;
	margin-top: 40px;
}

h1{
	color: #444444;
	text-align: center;
	font-family: Arial, sans serif;
	padding-top: 30px;

}

p{
	color: #444444;
	text-align: center;
	font-family: Arial, sans serif;
	padding-bottom: 40px;
}

.pages{
	position: relative;
}

.btn1, .btn2, .btn3{
	background-color: #A7C7E7;
	border: 0px none;
	border-radius: 5px;
	width: 20%;
	padding: 10px;
	font-family: Arial, sans serif;
	font-size: 15px;
	font-weight: lighter;
	color: #444444;
	text-transform: uppercase;
	margin-left: 5px;
	margin-bottom: 40px;
}

button:hover{
	background-color: #444444;
	color: #A7C7E7;
	transition: 0.5s;
}